.container{
    border: 2px solid cyan;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; 
    padding: 20px;
}

.room{
    border: 2px solid red;
    width: 350px;
    border-radius: 5px;

}

img{
    border: 2px solid green;
    border-radius: 5px;
    height: 300px;
    width: 350px;
}

.icons{
    display: flex;
}

.text{
    padding: 10px;
}

.book{
    border-radius: 5px;
    background-color: cyan;
}