body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://images.unsplash.com/photo-1590675560125-0d832b9d719e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWwlMjByb29tfGVufDB8fDB8fHww') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
  }
  
  .form-div {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    width: 400px;
  }
  
  form input[type="text"],
  form input[type="password"] {
    width: calc(100% - 20px); /* Full width with some padding */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
  }
  
  /* Style buttons */
  input[type="submit"],
  input[type="reset"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #45a049;
  }
  
  /* Login link styling */
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  