*{
  border:0;
  box-sizing: 0;
  margin:0;
  padding:0;
  font-size:18px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color:inherit;
}
h2{
  font-size:1.5em;
}

body{
  margin:auto;
}

nav {
  position: fixed;
  left:0;
  width:100%;
  z-index: 999;
  background: white;
  display: flex;
  justify-content: space-around;
  padding:.5em
}
.nav-links>li{
  margin-left:1em;
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.4s ease-in-out;
  }
}
.nav-spacer{
  height:50px;
}
ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.8em;
 
}

.hero{
  height:95vh;
  background-image: url('./assets/sara-dubler-Koei_7yYtIo-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content>h1{
  color:white;
  font-weight: 600;
  font-size: 4em;
}

.content{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.explore{
  margin-top: 1em;
  border-radius: 5em;
  padding:1em;
  background: none;
  border:2px solid white;
  &:hover{
    background-color:whitesmoke;
    cursor: pointer;
    color:black;
    a{
      color: black;
    }
  }
  a{
    color:white;
    font-weight:bolder;
    font-size: 2em;
  }
}

.booking{
  position:absolute;
  bottom:30px;
  /* right:350px; */
  margin-left:180px;
}
.booking>input{
  padding: .7em;
  border-radius: .5em;
}
.availability{
  padding:.7em;
  background-color:aquamarine;
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
  }
}

section{
  max-width: 90%;
  margin:5em auto;
}
.services{
  height:50vh;
  display: flex;
 
}
.service{
  padding:1em;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.service>img{
  height:15em;
  width:25em;
  border-radius: .5em;
}
.service-info{
  margin-top:1em;
  p{
    margin-top:1em;
  }
}

.add-ons{
  display: flex;
  flex-direction: row;
}
.add-on{
  padding:1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.addon-para{
  margin-top:1.5em;
}
.icon span i {
  color: red;
  font-size: 40px; 
}
.icon span {
  width: 40px;
  height: 20px;
  display: inline-block; 
  line-height: 20px; 
}

.video-room-section {
  padding: 50px;
  text-align: center;
  background-color: white;
  position:relative;

}

.section-header {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.section-header h2 {
  font-size: 36px;
  color: #333;
}

.video-room-content {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.video-card {
  position: relative;
  width: 600px;
  transition: transform 0.3s ease;
}

.video-card:nth-child(1) {
  top: 20;
  left: 0%;
  z-index: 10;
}

.video-card:nth-child(2) {
  bottom: 100px; 
  left: 2%;
  z-index: 5;
}

.video-card:hover {
  z-index: 20;
  transform: scale(1.05);
}

.video-card:hover iframe {
  transform: scale(1.05);
}

.video-card iframe {
  width: 650px;
  border: none;
  height:300px;
}
