.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap:.5em; 
    padding: 20px;
    max-width:90%;
    margin:auto;
}
.room {
    border: 2px solid red;
    width: 350px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.room:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.room:hover .complimentaries > span > i {
    color: red;
}

.room:hover .text > .line {
    border: 0.5px solid red;
}

.room > img {
    height: 250px;
    width: 350px;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.room:hover .overlay {
    opacity: 1;
}

.overlay i {
    color: white;
    font-size: 1.5em;
}

.icon{
    color:gold;
}
.icons{
    display: flex;
    position: absolute;
    right:0;
}
.text{
    
    padding: 2.5em .5em;
    p{
        margin-top: .1em;
        font-size: 16px ;
    }
    .line{
        border:.5px solid whitesmoke;
        margin:1em 0em;
    }
}
.book{
    border-radius: 5px;
    background-color: cyan;
    padding:.4em;
    position: absolute;
    right:0;
    bottom:5px;
    &:hover{
        cursor:pointer;
    }
}
.complimentaries{
    display: flex;
    gap:10px;
    margin-top:.5em;
    span>i{
        font-size:16px;
        color:grey;
    }
}

.banner>img{
    width: 100%;
    max-height:550px;
}